* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(0, 26, 170) 0%, rgb(0, 151, 38) 100%);
  color: white;
  font-family: "Roboto", sans-serif;
  min-width: 100vh;
  min-height: 100vh;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(150px,auto);
  justify-content: center;
  align-content: center;
  grid-row-gap: 10px;
}

.header {
  grid-column: 1 / -1;
}

.displayCounter {
  grid-column: 1 / -1;
}

.text {
  grid-column: 1 / -1;
}

